.hand {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    min-height: 200px;
    /* padding-bottom: 10px; */
}

.day-slot {
    display: flex;
    flex: 1;
    z-index: 1;
    min-width: 125px;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    border-radius: 2px;
    transform: translateY(-2px);
    background-color: #8f5340dd;
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
    background-blend-mode: color-burn;
}