.modal-background {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 96vh;
    top: 5vh;
    background-color: rgba(128, 128, 128, 0.696);
    z-index: 4;
}

.modal-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 40vw;
    height: 70vh;
    border-radius: 10px;
    align-items: center;
    overflow-y: scroll;
}